body{
    background-color: tan;

    font-family:"Helvetica Neue", Helvetica, sans-serif;

}

h1{
    color:whitesmoke;
    text-align: center;
    text-shadow:2px 1px 0 #666;
}

#current_player{
    position: relative;
    left: 35%;
    padding: 3%;
    height: 2em;
    background-color:whitesmoke;
    width: 10em;
    margin-bottom: 1em;
    text-align: center;

}
#whoWon {
    position: relative;

}
.board {
    position: relative;
    left: 35%;
    display: grid;
    grid-template-columns: repeat(3, 5em);
    grid-gap: 0.5em;
    height:100%;
    width:100%;


}

.board > div {
    border: 1px solid black;
    height:5em;
    width:5em;
    text-align: center;

}

.player1 {
   background-color: red;
    /*background-image: url(red.jpg);*/
}
.player2 {
   background-color: blue;
}

.board > div:hover {
    transform: scale(1.1);
}
